asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.0.2
cssselect==1.0.1
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
lxml==3.8.0
olefile==0.44
parsel==1.2.0
Pillow==4.2.1
pyasn1==0.3.1
pyasn1-modules==0.0.10
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.2.0
pytesseract==0.1.7
pywin32==221
queuelib==1.4.2
requests==2.18.2
Scrapy==1.4.0
service-identity==17.0.0
simplejson==3.11.1
six==1.10.0
Twisted==17.1.0
urllib3==1.22
w3lib==1.17.0
xlrd==1.0.0
xlutils==2.0.0
xlwt==1.2.0
zope.interface==4.4.2
