<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据图</title>
    <script src="../../res/echarts/echarts-all.js"></script>
</head>
<body>
<div id="china_map" style="width: 800px;height:500px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('china_map'));
    var option = {
        title: {
            text: '申请人地理位置分布',
            x: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data: ['位置分布']
        },
        dataRange: {
            min: 0,
            max: {{ chinaMap.max }},
            x: 'left',
            y: 'bottom',
            text: ['高', '低'],           // 文本，默认为数值文本
            calculable: true
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            x: 'right',
            y: 'center',
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        roamController: {
            show: true,
            x: 'right',
            mapTypeControl: {
                'china': true
            }
        },
        series: [
            {
                name: '专利数量',
                type: 'map',
                mapType: 'china',
                roam: false,
                itemStyle: {
                    normal: {label: {show: true}},
                    emphasis: {label: {show: true}}
                },
                data: [
                    {{ chinaMap.data }}
                ]
            }
        ]
    };
    myChart.setOption(option);
</script>
</body>
</html>